<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orkestra.direnis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        
>        
        <activity android:name="com.orkestra.direnis.CustomTitleBar" android:theme="@style/customTheme" ></activity>
        
        <activity
            android:name="com.orkestra.direnis.DirenisMain"
            android:label="@string/app_name"
            android:theme="@style/customTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.orkestra.direnis.IsimGir"
            android:label="@string/title_activity_isim_gir"
            android:theme="@style/customTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.orkestra.direnis.SehirSec"
            android:theme="@style/customTheme"
            android:label="@string/title_activity_sehir_sec"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.orkestra.direnis.Ev"
            android:theme="@style/customTheme"
            android:label="@string/title_activity_ev"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.orkestra.direnis.Dukkan"
            android:theme="@style/customTheme"
            android:label="@string/title_activity_dukkan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.orkestra.direnis.Olay"
            android:theme="@style/customTheme"
            android:label="@string/title_activity_olay"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.orkestra.direnis.Generate"
            android:label="@string/title_activity_generate"
            android:theme="@style/customTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.orkestra.direnis.Answer"
            android:label="@string/title_activity_answer"
            android:theme="@style/customTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.orkestra.direnis.HighScores"
            android:label="@string/title_activity_high_scores"
            android:theme="@style/customTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.orkestra.direnis.NasilOynanir"
            android:theme="@style/customTheme"
            android:label="@string/title_activity_nasil_oynanir" 
            android:screenOrientation="portrait">
            
        </activity>
    </application>

</manifest>
